.searchbar {
    align-items: center;
    margin-left: 27px;
    position: relative;
  }
  
  .rectangle {
    position: relative;
    width: 307px;
    height: 35px;
    border-radius: var(--spacing-xsmall, 8px);
    background: #FFF;
  }
  
  .rectangle::before {
    content: 'Čo hľadáte ? ...';
    display: block;
    color: rgba(0, 0, 0, 0.60);
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    padding-left: 19px;
    line-height: 35px; 
  }
