.searchbar {
    align-items: center;
    margin-left: 27px;
    margin-top: 24px;
    position: relative;
  }
  
  .rectangle {
    position: relative;
    width: 307px;
    height: 35px;
    border-radius: var(--spacing-xsmall, 8px);
    background: #FFF;
  }
  
  .rectangle::before {
    content: 'Čo hľadáte ? ...';
    display: block;
    color: rgba(0, 0, 0, 0.60);
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    padding-left: 19px;
    line-height: 35px; 
  }

 /* @media screen and (max-width: 1150px){
  .searchbar {
    align-items: center;
    margin-left: 19px;
    margin-top: 32.7px;
    position: relative;
  }
  .rectangle {
    width: 215px;
    height: 24.5px;
    

  }
    .rectangle::before{
      font-family: "Inter-Bold", Helvetica;
      padding-left: 19px;
      line-height: 25px; 
      font-size: 12.5px;
    }

  }


  @media screen and (max-width: 700px){
    .searchbar {
      align-items: center;
      margin-left: 13px;
      margin-top: 36.5px;   
      position: relative;
    }

    .rectangle {
      width: 150px;
      height: 17px;

  
    }
      .rectangle::before{
        font-family: "Inter-Bold", Helvetica;
        padding-left: 13.3px;
        line-height: 17.5px; 
        font-size: 8.75px;
      }
  
    }

    @media screen and (max-width: 500px) {
      .searchbar {
          width: 100%;
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          
      }
  
      .rectangle {
          margin: 10px 0;
          width: 150px;
          height: 17px;
      }
  
      .rectangle::before {
          font-family: "Inter-Bold", Helvetica;
          padding-left: 13.3px;
          line-height: 17.5px;
          font-size: 8.75px;
      }
  } */